.testimonial-person {
  all: none;
}

.testimonial-person>img {
  height: 300px;
  width: 300px;
  top: 25%;
  bottom: 25%;
  left: 42%;
  right: 40%;
  min-width: 0;
}

.blockquote-custom {
  position: absolute;
  top:70%;
  right: 10%;
  left: 10%;
}
